{% load project_extras %}

<div class="box">

    <section class="hero is-primary is-medium">
        {% for lesson in lessons %}
            <div class="hero-body">
                <a href="/">Home</a>
                <a href="http://127.0.0.1:5050/distant_topics/1"><h2>Список всіх тем для дистанційних уроків для Монтажу СтСіУ</h2></a>
                <a href="http://127.0.0.1:5050/distant_topics/2"><h2>Список всіх тем для дистанційних уроків для Зварювання</h2></a>

                <h4><a href="http://127.0.0.1:5050/distant_lessons/1">Перший курс</a></h4>
                <h4><a href="http://127.0.0.1:5050/distant_lessons/2">Другий курс</a></h4>
                <p class="title">{{ lesson.topic }}</p>
                {{ lessons.additional_text }}
            </div>
            <div class="content intro">
                <p>{{ post.intro }}</p>
            </div>

            <div class="content">
                {{ lesson.main_text|convert_markdown|safe }}
            </div>
        {% endfor %}

    </section>


</div>
