<!DOCTYPE html>
<html>

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#818cf8">
    <meta property="og:site_name" content="Swetrix Blog"/>
    {% block title %}
    {% endblock %}
    {% block head %}
    {% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
</head>


<div class="nav_bar_structure">
    <a href="#news">Головна сторінка</a>
    <br>
    <a href="#about">Список учнів групи</a>
    <br>
    <a href="#about">Дистанційне навчання</a>
    <br>
    <a href="#about">Виробниче навчання</a>
    <br>
    <a href="#about">Виробниче навчання</a>
    <br>
    <ul>
        <li>
            <a href="#contact">Для учнів</a>
            <h3>Тут надо сделать 2 выпадающих списка наверно в зависимости от курса и тд тп</h3>
            <a href="#about">(Домашнє завдання)</a>
            <a href="#about">(Тестування)</a>
            <a href="#about">(Журнал оцінок)</a>
    </ul>
    <a href="#about">Вхід</a>
    <br>
    <a href="#about">Практичний центр</a>
</div>

</html>

