<!DOCTYPE html>
<html>
{#TODO create base.html file -- header where can I write all links#}
<head>
    <title>My Project</title>
</head>
<body>
{% block header %}
    <header>
        <nav>
            <div>
                <ul>
                    <li><a href="default.asp">Головна сторінка</a></li>
                    <li><a href="news.asp">Домашнє Завдання</a></li>
                    <li><a href="contact.asp">Тестування</a></li>
                    <li>
                        <a href="about.asp">Уроки</a>
                        <ul>
                            <li><a><a href="about.asp">1 курс</a></a>
                            </li>
                            <li>
                                <a><a href="about.asp">2 курс</a></a>
                            </li>
                        </ul>
                    </li>
                    {#                    <li>#}
                    {#                        <a href="about.asp">Тестування</a>#}
                    {#                        <ul>#}
                    {#                            <li><a><a href="about.asp">1 курс</a></a>#}
                    {#                            </li>#}
                    {#                            <li>#}
                    {#                                <a><a href="about.asp">2 курс</a></a>#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                    <li><a href="about.asp">Методична робота</a></li>
                    <!-- Dropdown -->

                    <li>
                        <a href="about.asp">Дистанційне навчання</a>
                        <ul>
                            <li><a><a href="about.asp">1 курс</a></a>
                            </li>
                            <li>
                                <a><a href="about.asp">2 курс</a></a>
                            </li>
                        </ul>
                    </li>
                    <!-- Dropdown -->
                    <li>
                        <a href="about.asp">Виробниче навчання</a>
                        <ul>
                            <li><a><a href="about.asp">1 курс</a></a>
                            </li>
                            <li>
                                <a><a href="about.asp">2 курс</a></a>
                            </li>
                        </ul>
                    </li>
                    <!-- Dropdown -->
                    <li><a href="contact.asp">Навчально-практичний центр</a></li>
                    <li><a href="about.asp">Вхід</a></li>
                </ul>

            </div>
        </nav>

    </header>
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>