<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full px-4 lg:px-8">
  <div class="flex items-center mt-4">
    <div class="h-[17px] w-[11px] bg-[green] mr-2 ml-1"></div>
    <p class="text-[20px] font-semibold lg:text-[22px]">Зварювання металів</p>
  </div>
  <div class="flex place-content-between items-end mt-3">
    <p
      class="text-[#46464E] text-[14px] leading-[14px] lg:text-[16px] lg:font-bold"
    >
      Зварювання
    </p>
    <div class="flex-row flex items-end">
      <p
        class="text-[#46464E] text-[14px] leading-[14px] pr-2 lg:text-[16px] lg:font-bold"
      >
        Група:
      </p>
      <p class="text-black font-bold text-[20px] leading-[18px]">17</p>
    </div>
  </div>
  <p class="mt-6 text-[14px]">
    Декада методичної комісії мулярів, монтажників санітарно-технічних систем і
    устаткування, електрозварників, виробників художніх виробів з металу, 28
    січня - 06 лютого 2019 року. Посилання:
    <a
      class="font-bold text-[#1E7EE7]"
      href="https://web.telegram.org/z/#809740300"
    >
      https://web.telegram.org/z/#809740300
    </a>
  </p>
  <p class="mt-5 text-[#6B6B74] font-bold">
    З повагою, Дремлюга Сергій Олександрович @dremliuha
  </p>
  <div class="flex-col mt-6 space-y-3">
    <div
      class="bg-[#F3F3F3] px-4 py-2 rounded flex flex-row items-center w-[fit-content]"
    >
      <div class="h-[16px] w-[20px] bg-[green] mr-2.5"></div>
      <p class="text-[14px] text-[#191715]">Зварювання металів при....MOV</p>
    </div>
    <div
      class="bg-[#F3F3F3] px-4 py-2 rounded flex flex-row items-center w-[fit-content]"
    >
      <div class="h-[16px] w-[20px] bg-[green] mr-2.5"></div>
      <p class="text-[14px] text-[#191715]">Метали 01.PNG</p>
    </div>
    <div
      class="bg-[#F3F3F3] px-4 py-2 rounded flex flex-row items-center w-[fit-content]"
    >
      <div class="h-[16px] w-[20px] bg-[green] mr-2.5"></div>
      <p class="text-[14px] text-[#191715]">Зварювання металів.DOC</p>
    </div>
  </div>
</body>
