<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="max-w-full px-4 lg:px-8">
  <div class="mt-4">
    <button
      class="bg-[#3A528C] text-[#fff] px-3 py-2 rounded leading-5 text-sm font-semibold mr-2"
    >
      1 курс
    </button>
    <button class="text-[#191715] px-3 py-2">2 курс</button>
  </div>
  <input
    type="text"
    class="border border-[#B9BEC7] rounded-lg w-full h-[44px] outline-none pl-2 placeholder:text-[17px] placeholder:font-normal mt-4"
    placeholder="Пошук завдань"
  />
  <div class="lg:flex lg:flex-wrap lg:place-content-between">
    <div class="mt-4 lg:w-[49%]">
      <div class="bg-[#F3F3F3] p-5 rounded-lg">
        <p class="text-black text-[16px] font-bold mb-1">Зварювання металів</p>
        <div class="flex place-content-between items-end">
          <p class="text-[#6B6B74] text-[14px] leading-[14px]">Зварювання</p>
          <div class="flex-row flex items-end">
            <p class="text-[#6B6B74] text-[14px] leading-[14px] pr-2">Група:</p>
            <p class="text-black font-bold text-[20px] leading-[18px]">17</p>
          </div>
        </div>
        <p class="mt-6 text-[14px] text-[#191715] lg:h-[80px]">
          Декада методичної комісії мулярів, монтажників санітарно-технічних
          систем і устаткування, електрозварників, виробників художніх виробів з
          металу, 28 січня - 06 лютого 2019 року ...
        </p>
        <div class="flex mt-6 space-x-2 lg">
          <div class="bg-white rounded py-2.5 px-4">
            <div class="bg-[green] w-[20px] h-[16px]"></div>
          </div>
          <div class="bg-white rounded py-2.5 px-4">
            <div class="bg-[green] w-[20px] h-[16px]"></div>
          </div>
          <div class="bg-white rounded py-2.5 px-4">
            <div class="bg-[green] w-[20px] h-[16px]"></div>
          </div>
          <div class="bg-white rounded py-2.5 px-4">
            <div class="bg-[green] w-[20px] h-[16px]"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 lg:w-[49%]">
      <div class="bg-[#F3F3F3] p-5 rounded-lg">
        <p class="text-black text-[16px] font-bold mb-1">Зварювання металів</p>
        <div class="flex place-content-between items-end">
          <p class="text-[#6B6B74] text-[14px] leading-[14px]">Зварювання</p>
          <div class="flex-row flex items-end">
            <p class="text-[#6B6B74] text-[14px] leading-[14px] pr-2">Група:</p>
            <p class="text-black font-bold text-[20px] leading-[18px]">17</p>
          </div>
        </div>
        <p class="mt-6 text-[14px] text-[#191715] lg:h-[80px]">
          Декада методичної комісії мулярів, монтажників санітарно-технічних
          систем і устаткування, ...
        </p>
        <div class="flex mt-6 space-x-2">
          <div class="bg-white rounded py-2.5 px-4">
            <div class="bg-[green] w-[20px] h-[16px]"></div>
          </div>
          <div class="bg-white rounded py-2.5 px-4">
            <div class="bg-[green] w-[20px] h-[16px]"></div>
          </div>
          <div class="bg-white rounded py-2.5 px-4">
            <div class="bg-[green] w-[20px] h-[16px]"></div>
          </div>
          <div class="bg-white rounded py-2.5 px-4">
            <div class="bg-[green] w-[20px] h-[16px]"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
