<head>
  <title>Education SAAS</title>
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
  <!-- <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    /> -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="w-full md:flex">
    <div
      id="mob-menu"
      class="border-b p-4 flex justify-between items-center md:hidden"
    >
      <h2 class="font-bold text-[14px]">Головна</h2>
      <div class="h-8 w-8 bg-[yellow]"></div>
    </div>

    <div
      id="desktop-menu"
      class="h-screen border-r hidden min-w-[22%] p-4 md:block sticky top-0"
    >
      <div class="flex p-4">
        <div class="h-5 w-5 bg-[yellow] mr-4"></div>
        <h2 class="font-bold text-[14px]">Головна</h2>
      </div>
      <div class="flex p-4">
        <div class="h-5 w-5 bg-[yellow] mr-4"></div>
        <h2 class="font-bold text-[14px]">Домашня робота</h2>
      </div>
      <div class="flex p-4">
        <div class="h-5 w-5 bg-[yellow] mr-4"></div>
        <h2 class="font-bold text-[14px]">Підручники</h2>
      </div>
      <div class="flex p-4">
        <div class="h-5 w-5 bg-[yellow] mr-4"></div>
        <h2 class="font-bold text-[14px]">Методична робота</h2>
      </div>
      <div class="flex p-4">
        <div class="h-5 w-5 bg-[yellow] mr-4"></div>
        <h2 class="font-bold text-[14px]">Дистанційне навчання</h2>
      </div>
      <div class="flex p-4">
        <div class="h-5 w-5 bg-[yellow] mr-4"></div>
        <h2 class="font-bold text-[14px]">Виробниче навчання</h2>
      </div>
      <div class="flex p-4">
        <div class="h-5 w-5 bg-[yellow] mr-4"></div>
        <h2 class="font-bold text-[14px]">Практичний центр</h2>
      </div>
    </div>
    <div>
      <div class="px-4 pt-4 lg:px-8">
        <div
          class="bg-gray-100 flex flex-col rounded-lg px-5 lg:flex-row-reverse lg:px-10"
        >
          <div
            class="bg-red-600 w-56 h-64 mt-4 flex self-center lg:min-w-[343px] lg:h-[399px]"
          ></div>

          <div>
            <h2
              class="text-[26px] font-extrabold leading-[34px] mt-4 max-w-[200px] lg:text-[37px] lg:leading-[51px] lg:mt-[70px]"
            >
              Дремлюга
              <h2
                class="text-[26px] font-extrabold leading-[34px] max-w-[200px] lg:text-[37px] lg:leading-[51px] lg:max-w-none"
              >
                Сергій Олександрович
              </h2>
            </h2>
            <p class="text-[16px] font-[400] leading-[24px] mt-4">
              Інженер-механік. Викладач спеціальних дисциплін. Майстер
              виробничого навчання. Спеціаліст вищої категорії,
              викладач-методист.
            </p>
            <div class="w-full mt-6 mb-5 lg:mt-10">
              <button
                class="flex justify-center items-center h-12 w-full bg-[#3A528C] rounded text-[#ffffff] text-[16px] font-[700] lg:w-[263px]"
              >
                Отримати Консультацію
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="px-4 mt-[60px] lg:px-8 lg:mt-[44px]">
        <div class="lg:flex lg:items-center lg:mb-5">
          <h4
            class="text-[#191715] text-[14px] font-[600] leading-[20px] lg:w-[190px]"
          >
            ОСВІТА:
          </h4>
          <p
            class="text-[#191715] text-[16px] font-[400] leading-[24px] mt-2 mb-6 lg:mt-0 lg:mb-0"
          >
            Вища Вінницький Політехнічний Інститут
          </p>
        </div>
        <div class="lg:flex lg:items-center lg:mb-5">
          <h4
            class="text-[#191715] text-[14px] font-[600] leading-[20px] lg:w-[190px]"
          >
            СПЕЦІАЛЬНІСТЬ:
          </h4>
          <p
            class="text-[#191715] text-[16px] font-[400] leading-[24px] mt-2 mb-6 lg:mt-0 lg:mb-0"
          >
            Інженер-механік
          </p>
        </div>
        <div class="lg:flex lg:items-center lg:mb-5">
          <h4
            class="text-[#191715] text-[14px] font-[600] leading-[20px] lg:w-[190px]"
          >
            СТАЖ ПЕДАГОГІЧНОЇ РОБОТИ:
          </h4>
          <p
            class="text-[#191715] text-[16px] font-[400] leading-[24px] mt-2 mb-6 lg:mt-0 lg:mb-0 lg:self-start"
          >
            17 років
          </p>
        </div>
        <div class="lg:flex lg:items-center lg:mb-5">
          <h4
            class="text-[#191715] text-[14px] font-[600] leading-[20px] lg:w-[190px]"
          >
            МІСЦЕ РОБОТИ:
          </h4>
          <p
            class="text-[#191715] text-[16px] font-[400] leading-[24px] mt-2 mb-6 lg:mt-0 lg:mb-0"
          >
            Вище художнє професійно-технічне училище №5 м.Вінниці
          </p>
        </div>
        <div class="lg:flex lg:items-center lg:mb-5">
          <h4
            class="text-[#191715] text-[14px] font-[600] leading-[20px] lg:min-w-[190px] lg:self-start"
          >
            ПОСАДА:
          </h4>
          <p
            class="text-[#191715] text-[16px] font-[400] leading-[24px] mt-2 mb-6 lg:mt-0 lg:mb-0"
          >
            Викладач спеціальних дисциплін. Керівник навчально-практичного
            центру підготовки робітників з професії «Монтажник
            санітарно-технічних систем і устаткування». Голова методичної
            комісії мулярів, монтажників санітарно-технічних систем і
            устаткування, електрогазозварників, виробників художніх виробів з
            металу. Майстер виробничого навчання. Спеціаліст вищої категорії,
            викладач-методист.
          </p>
        </div>
      </div>

      <div class="px-4 lg:px-8">
        <div
          class="bg-[#DFECE0] px-5 py-8 mt-[60px] mb-5 rounded-lg lg:h-[268px] lg:p-[40px]"
        >
          <div
            class="bg-red-600 w-6 h-6 mb-4 lg:w-[40px] lg:h-[40px] lg:mb-5"
          ></div>
          <h3
            class="text-[#191715] text-[22px] font-[700] leading-[30px] mb-4 lg:text-[32px] lg:leading-[36px] lg:mb-5"
          >
            Дистанційне навчання
          </h3>
          <p class="text-[#191715] text-[16px] font-[400] leading-[24px]">
            Тут учні знайдуть конспекти уроків, презентації, які допоможуть
            закріпити знання з професій монтажник санітарно-технічних систем та
            устаткування, електрогазозварник. Також підготуватись до тестових
            завдань, які будуть після кожного уроку.
          </p>
        </div>

        <div class="lg:flex lg:flex-row-reverse lg:mb-10 lg:gap-[20px]">
          <div
            class="bg-[#DFECE0] px-5 py-8 mb-5 rounded-lg lg:max-h-[426px] lg:mr-[24px] lg:w-[50%] lg:p-[40px]"
          >
            <div class="bg-red-600 w-6 h-6 mb-4 lg:w-[40px] lg:h-[40px]"></div>
            <h3
              class="text-[#191715] text-[22px] font-[700] leading-[30px] mb-4 lg:text-[32px] lg:leading-[36px] lg:mb-5"
            >
              Виробниче навчання
            </h3>
            <p class="text-[#191715] text-[16px] font-[400] leading-[24px]">
              Ви знайдете тут плани уроків виробничого навчання, інструкційні
              карти по професіях презентації до уроків, відео ролики.
            </p>
          </div>

          <div
            class="px-5 py-8 mb-10 border-solid border-[#B9BEC7] border-[1px] rounded-lg lg:max-h-[426px] lg:mb-5 lg:w-[50%] lg:p-[40px]"
          >
            <div
              class="bg-red-600 w-6 h-6 mb-4 lg:w-[40px] lg:h-[40px] lg:mb-5"
            ></div>
            <h3
              class="text-[#191715] text-[22px] font-[700] leading-[30px] mb-4 lg:text-[32px] lg:leading-[36px] lg:mb-5"
            >
              Для вчителів
            </h3>
            <p class="text-[#191715] text-[16px] font-[400] leading-[24px]">
              Плани уроків по професіях монтажник санітарно-технічних систем і
              устаткування, електрогазозварник, презентації до уроків, відео
              ролики. Все це Ви знайдете тут.
            </p>
          </div>
        </div>
        <div class="lg:flex lg:justify-end">
          <div
            class="bg-[#E2EDF9] px-5 py-8 rounded-lg relative lg:w-[79%] lg:p-[40px]"
          >
            <div
              class="bg-red-600 w-[120px] h-[52px] absolute rotate-[-132deg] left-[68px] top-[-44px]"
            ></div>

            <div class="lg:flex">
              <div
                class="bg-red-600 w-6 h-6 mb-4 lg:w-[40px] lg:h-[40px] lg:mb-5 lg:mr-5"
              ></div>
              <h3
                class="text-[#191715] text-[22px] font-[700] leading-[30px] mb-4 lg:text-[32px] lg:leading-[36px] lg:mb-5"
              >
                Методична робота
              </h3>
            </div>
            <p class="text-[#191715] text-[16px] font-[400] leading-[24px]">
              Методичні розробки уроків теоретичного та виробничого навчання по
              професіях монтажник санітарно-технічних систем та устаткування,
              електрогазозварник, проведення декади монтажників
              санітарно-технічних систем і устаткування, мулярів,
              електрогазозварників, виробників художніх виробів з металу.
            </p>
          </div>
        </div>
      </div>

      <div
        class="flex flex-col items-center lg:flex-row lg:mt-[120px] lg:justify-between lg:px-8"
      >
        <div
          class="w-[213px] mb-5 mt-[60px] flex flex-col items-center lg:mt-0"
        >
          <h1 class="text-[52px] font-[800] leader-[36px] text-[#191715]">
            1894
          </h1>
          <div class="bg-[#3A528C] w-[146px] h-[23px] mb-[20px]"></div>
          <p class="text-[16px] font-[400] leader-[24px] text-[#191715]">
            Успішних випускників
          </p>
        </div>
        <div class="w-[213px] mb-5 flex flex-col items-center">
          <h1 class="text-[52px] font-[800] leader-[36px] text-[#191715]">
            17
          </h1>
          <div class="bg-[#3A528C] w-[146px] h-[23px] mb-[20px]"></div>
          <p class="text-[16px] font-[400] leader-[24px] text-[#191715]">
            Стаж роботи
          </p>
        </div>
        <div class="w-[213px] mb-5 flex flex-col items-center">
          <h1 class="text-[52px] font-[800] leader-[36px] text-[#191715]">
            85
          </h1>
          <div class="bg-[#3A528C] w-[146px] h-[23px] mb-[20px]"></div>
          <p class="text-[16px] font-[400] leader-[24px] text-[#191715]">
            Кількість грамот
          </p>
        </div>
        <div class="w-[213px] mb-5 flex flex-col items-center">
          <h1 class="text-[52px] font-[800] leader-[36px] text-[#191715]">
            410
          </h1>
          <div class="bg-[#3A528C] w-[146px] h-[23px] mb-[20px]"></div>
          <p class="text-[16px] font-[400] leader-[24px] text-[#191715]">
            Кількість презентацій
          </p>
        </div>
      </div>

      <div class="flex items-center pl-[16px] mt-[60px] lg:pl-[32px]">
        <div
          class="bg-red-600 w-[60px] h-[60px] mr-[20px] lg:w-[130px] lg:h-[130px] lg:mr-[40px]"
        ></div>
        <h3
          class="text-[#191715] text-[22px] font-[700] leading-[30px] lg:text-[32px] lg:leading-[36px]"
        >
          Для учнів
        </h3>
      </div>

      <div class="px-4 lg:px-8">
        <div class="lg:flex lg:flex-col lg:items-end">
          <div
            class="bg-[#DFECE0] px-5 py-8 mt-[20px] mb-5 rounded-lg lg:w-[79%]"
          >
            <div class="flex items-center">
              <div class="bg-red-600 w-6 h-6 mb-4 mr-2"></div>
              <h3
                class="text-[#191715] text-[22px] font-[700] leading-[30px] mb-4"
              >
                Домашня робота
              </h3>
            </div>
            <p class="text-[#191715] text-[16px] font-[400] leading-[24px]">
              Якщо Ви забули записати домашнє завдання після уроку то це не
              біда. Тут Ви знайдете всю інформацію яку потрібно Вам знати.
            </p>
          </div>

          <div
            class="bg-[#DFECE0] px-5 py-8 mt-[20px] mb-5 rounded-lg lg:w-[79%]"
          >
            <div class="flex items-center">
              <div class="bg-red-600 w-6 h-6 mb-4 mr-2"></div>
              <h3
                class="text-[#191715] text-[22px] font-[700] leading-[30px] mb-4"
              >
                Тестування
              </h3>
            </div>
            <p class="text-[#191715] text-[16px] font-[400] leading-[24px]">
              Тестові завдання на різний смак. Щоб закріпити знання по тій чи
              іншій темі, потрібно обов’язково пройти тест. Оцінку, яку ви
              отримаєте, буде перенесено в журнал теоретичного навчання. Вчителі
              можуть скористатися цим тестами для опитування на своїх уроках.
            </p>
          </div>

          <div class="bg-[#DFECE0] px-5 py-8 mt-[20px] rounded-lg lg:w-[79%]">
            <div class="flex items-center">
              <div class="bg-red-600 w-6 h-6 mb-4 mr-2"></div>
              <h3
                class="text-[#191715] text-[22px] font-[700] leading-[30px] mb-4"
              >
                Підручники
              </h3>
            </div>
            <p class="text-[#191715] text-[16px] font-[400] leading-[24px]">
              В цьому розділі Ви знайдете підручники, які стануть Вам у нагоді
              до підготовки до уроків.
            </p>
          </div>
        </div>
      </div>

      <div class="px-4 lg:px-8">
        <div class="bg-red-600 w-[66px] h-[57px] mt-[60px] mb-2"></div>
        <div>
          <p class="text-[#46464E] text-[16px] font-[400] leading-[24px] mb-6">
            Я Вам вдячний за те, що Ви потрапили на цей сайт. Сподіваюсь, що
            інформація, яка тут розміщена буде цікавою для викладачів
            спеціальних дисциплін з професій «монтаж санітарно-технічних систем
            і устаткування», «електрогазозварник», а також для тих, хто працює у
            сфері професійно-технічної освіти. До вашої уваги я представляю свої
            методичні напрацювання.
          </p>

          <p class="text-[#46464E] text-[16px] font-[400] leading-[24px] mb-6">
            Однак, більше моя робота спрямована на впровадження елементів
            дистанційного навчання при вивченні відповідних предметів
            професійно-теоретичної підготовки учнями. Тому хочу звернутися до
            майбутніх сантехників та зварників: тепер не кажіть, що не вивчив,
            бо хворів, проспав чи так забув;) Все, що я тут розміщую має
            забезпечити неперервність навчально-виховного процесу й сприятиме
            формуванню мобільного, креативного кваліфікованого робітника.
            «Вчіться – не лініться».
          </p>

          <p class="text-[#46464E] text-[16px] font-[700] leading-[24px]">
            З повагою – Дремлюга Сергій Олександрович – викладач вищої
            категорій, «викладач-методист» Вищого художнього професійно
            технічного училища № 5 м. Вінниці.
          </p>
        </div>
        <div class="flex justify-end">
          <div class="bg-red-600 w-[66px] h-[57px]"></div>
        </div>
      </div>

      <div class="px-4 lg:px-8">
        <div class="lg:flex lg:gap-[20px] lg:mt-[60px]">
          <div
            class="bg-[#E2EDF9] px-5 py-8 mb-5 rounded-lg flex flex-col items-center lg:justify-end mt-[60px] lg:w-[50%] lg:min-h-[537px] lg:mt-0 lg:px-10 lg:py-10"
          >
            <div
              class="bg-red-600 w-[100px] h-[100px] mb-[60px] lg:w-[130px] lg:h-[130px] lg:mb-[80px]"
            ></div>
            <h3
              class="text-[#191715] text-[22px] font-[700] leading-[30px] mb-5 lg:text-[32px] lg:leading-[36px]"
            >
              Навчально-практичний центр
            </h3>
            <p class="text-[#191715] text-[16px] font-[400] leading-[24px]">
              Центр створено для навчання учнів ВХПТУ №5 м. Вінниці та слухачів
              Центру зайнятості. Навчання базується на основних принципах
              модульної системи.
            </p>
          </div>

          <div
            class="bg-[#E2EDF9] px-5 py-8 mb-5 rounded-lg flex flex-col items-center lg:justify-end lg:w-[50%] lg:min-h-[537px] lg:px-10 lg:py-10"
          >
            <div
              class="bg-red-600 w-[100px] h-[100px] mb-[60px] lg:w-[130px] lg:h-[130px] lg:mb-[80px]"
            ></div>
            <h3
              class="text-[#191715] text-[22px] font-[700] leading-[30px] mb-5 lg:text-[32px] lg:leading-[36px]"
            >
              Мої напрацювання за 2017-2021 рік
            </h3>
            <p class="text-[#191715] text-[16px] font-[400] leading-[24px]">
              Мої напрацювання за 2017-2021 рік. Для додаткових матеріалів,
              переходьте за посиланням, частина матеріалів що була використана в
              мої роботі знаходиться тут.
            </p>
          </div>
        </div>

        <div
          class="bg-yellow-100 px-5 py-8 mt-[20px] rounded-lg lg:mt-0 lg:px-10 lg:py-10"
        >
          <div class="flex items-center">
            <div
              class="bg-red-600 w-6 h-6 mb-4 mr-2 lg:w-10 lg:h-10 lg:mr-4 lg:mb-5"
            ></div>
            <h3
              class="text-[#191715] text-[22px] font-[700] leading-[30px] mb-4 lg:text-[32px] lg:leading-[36px]"
            >
              Github
            </h3>
          </div>
          <p class="text-[#191715] text-[16px] font-[400] leading-[24px]">
            В цьому розділі ви знайдете портфоліо розробника. Основна мова
            програмування Python-досвідчений. HTML/CSS/JS -середній.
            С++/Java-початківець.
          </p>
        </div>
      </div>

      <div class="px-4 mt-[60px] lg:px-8">
        <h2
          class="text-[#191715] text-[16px] font-[700] leading-[24px] mb-10 lg:max-w-[55%]"
        >
          ВИЩЕ ХУДОЖНЄ ПРОФЕСІЙНО-ТЕХНІЧНЕ УЧИЛИЩЕ № 5 М. ВІННИЦІ / HIGHER ART
          VOCATIONAL SCHOOL № 5, VINNYTSIA
        </h2>

        <div class="lg:flex lg:justify-between">
          <div>
            <div class="lg:flex lg:mb-5">
              <h6
                class="text-[#191715] text-[14px] font-[600] leading-[20px] mb-2 lg:min-w-[190px]"
              >
                АДРЕСА:
              </h6>
              <p
                class="text-[#191715] text-[16px] font-[400] leading-[24px] mb-5 lg:mt-0 lg:mb-0"
              >
                21034, м. Вінниця, вул. Лебединського, 13
              </p>
            </div>

            <div class="lg:flex lg:mb-5">
              <h6
                class="text-[#191715] text-[14px] font-[600] leading-[20px] mb-2 lg:min-w-[190px]"
              >
                ТЕЛЕФОН:
              </h6>
              <p
                class="text-[#191715] text-[16px] font-[400] leading-[24px] mb-5 w-[190px] lg:mt-0 lg:mb-0"
              >
                +380 (432) 27-90-00, +380 (432) 27-87-00, +380 (432) 27-05-73
              </p>
            </div>

            <div class="lg:flex lg:mb-5">
              <h6
                class="text-[#191715] text-[14px] font-[600] leading-[20px] mb-2 lg:min-w-[190px]"
              >
                E-MAIL:
              </h6>
              <p
                class="text-[#191715] text-[16px] font-[400] leading-[24px] mb-5 lg:mt-0 lg:mb-0"
              >
                vhptu5@vhptu5.vn.ua
              </p>
            </div>
          </div>

          <div class="flex flex-col items-center">
            <div
              class="bg-red-600 w-[273px] h-[148px] rounded-lg lg:w-[357px] lg:h-[184px]"
            ></div>
            <p
              class="text-[#46464E] text-[14px] font-[400] leading-[20px] mt-[32px] mb-4 flex self-end lg:mt-10 lg:mb-[30px]"
            >
              @All rights reserved. 2022
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
