{% extends 'base.html' %}

<div class="dark:bg-gray-900">
  <div class="container min-h-[90vh] px-8 mx-auto xl:px-0 flex md:flex-row flex-col">
    <div class="flex items-center w-full lg:w-1/2">
      <div class="max-w-2xl mb-8 mt-10 lg:mt-0">
        <h1
          class="text-4xl font-bold leading-snug tracking-tight text-gray-800 lg:text-4xl lg:leading-tight xl:text-6xl xl:leading-tight dark:text-white">
          Hi, i am the teacher. Lorem lorem
        </h1>
        <p class="py-5 text-xl leading-normal text-gray-500 lg:text-xl xl:text-2xl dark:text-gray-300">Lorem ipsum
          dolor sit amet consectetur, adipisicing elit. Ex dignissimos cupiditate, autem quod dolor voluptatem sint
          est consequatur!Lorem ipsum
          dolor sit amet consectetur, adipisicing elit. Ex dignissimos cupiditate, autem quod dolor voluptatem sint
          est consequatur! Lorem ipsum
          dolor sit amet consectetur, adipisicing elit. Ex dignissimos cupiditate, autem quod dolor voluptatem sint
          est</p>
        <div class="flex space-x-4 items-center sm:flex-row">
          <a href="/" target="_blank" rel="noopener"
            class="px-3 sm:px-8 sm:py-4 py-2 text-md sm:text-lg font-medium text-center text-white bg-indigo-600 rounded-md ">Get started</a>
          <a href="/" target="_blank" rel="noopener"
            class="sm:px-8 px-3 sm:py-4 py-2 text-md sm:text-lg font-medium text-center text-gray-500 dark:text-white border-2 rounded-md hover:text-gray-900 hover:border-gray-900 duration-300 ease-in-out dark:hover:text-indigo-500 dark:hover:border-indigo-500">Contact
            us</a>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center w-full lg:w-1/2">
      <div class="">
        <div
          style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
          <div style="box-sizing:border-box;display:block;max-width:100%">
            <img style="max-width:100%;display:block;margin:0;border:none;padding:0" alt="" aria-hidden="true"
              src="image/papa.png">
          </div>
          <img alt="Main photo" src="image/papa.png" decoding="async" data-nimg="true"
            style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: medium none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; filter: none; background-size: cover; background-image: none; background-position: 0% 0%;">
        </div>
      </div>
    </div>
  </div>
  <div class="container p-8 py-8  mx-auto xl:px-0 flex flex-wrap mb-20 lg:gap-10 flex-col-reverse lg:flex-row lg:flex-nowrap ">
    <div class="flex items-center justify-center w-full lg:w-1/2 lg:mt-0 mt-8">
      <div>
        <div
          style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
          <div style="box-sizing:border-box;display:block;max-width:100%">
            <img style="max-width:100%;display:block;margin:0;border:none;padding:0" alt="vhptu5" aria-hidden="true"
              src="image/logo-mini.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap items-center w-full lg:w-1/2 ">
      <div>
        <div class="flex flex-col w-full">
          <h3
            class="max-w-2xl text-3xl font-bold leading-snug tracking-tight text-gray-800 lg:leading-tight lg:text-4xl dark:text-white">
            Про мене
          </h3>
          <p class="max-w-2xl py-4 text-lg leading-normal text-gray-500 lg:text-xl xl:text-xl dark:text-gray-300">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad accusantium reiciendis animi commodi labore
            enim illum provident ullam!</p>
        </div>
        <div class="w-full mt-5">
          <div class="flex items-start mt-8 space-x-3">
            <div class="flex items-center justify-center flex-shrink-0 mt-1 bg-indigo-500 rounded-md w-11 h-11 ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="w-7 h-7 text-indigo-50">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122">
                </path>
              </svg>
            </div>
            <div>
              <h4 class="text-xl font-medium text-gray-800 dark:text-gray-200">Освіта</h4>
              <p class="mt-1 text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit</p>
            </div>
          </div>
          <div class="flex items-start mt-8 space-x-3">
            <div class="flex items-center justify-center flex-shrink-0 mt-1 bg-indigo-500 rounded-md w-11 h-11 ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="w-7 h-7 text-indigo-50">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122">
                </path>
              </svg>
            </div>
            <div>
              <h4 class="text-xl font-medium text-gray-800 dark:text-gray-200">Cпеціальність</h4>
              <p class="mt-1 text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit</p>
            </div>
          </div>
          <div class="flex items-start mt-8 space-x-3">
            <div class="flex items-center justify-center flex-shrink-0 mt-1 bg-indigo-500 rounded-md w-11 h-11 ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="w-7 h-7 text-indigo-50">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122">
                </path>
              </svg>
            </div>
            <div>
              <h4 class="text-xl font-medium text-gray-800 dark:text-gray-200">Стаж роботи</h4>
              <p class="mt-1 text-gray-500 dark:text-gray-400">17 років.</p>
            </div>
          </div>
          <div class="flex items-start mt-8 space-x-3">
            <div class="flex items-center justify-center flex-shrink-0 mt-1 bg-indigo-500 rounded-md w-11 h-11 ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="w-7 h-7 text-indigo-50">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122">
                </path>
              </svg>
            </div>
            <div>
              <h4 class="text-xl font-medium text-gray-800 dark:text-gray-200">Місце роботи</h4>
              <p class="mt-1 text-gray-500 dark:text-gray-400">Вище художнє професійно-технічне училище № 5</p>
            </div>
          </div>
          <div class="flex items-start mt-8 space-x-3">
            <div class="flex items-center justify-center flex-shrink-0 mt-1 bg-indigo-500 rounded-md w-11 h-11 ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="w-7 h-7 text-indigo-50">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122">
                </path>
              </svg>
            </div>
            <div>
              <h4 class="text-xl font-medium text-gray-800 dark:text-gray-200">Посада</h4>
              <p class="mt-1 text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Voluptatem mollitia beatae laudant</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="bg-white dark:bg-gray-900 pt-20 relative pb-14">
    <svg class="absolute -left-8" width="112" height="112" viewBox="0 0 112 112" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g opacity="0.3">
        <path d="M96.9136 36.5354L110.571 36.3167L109.988 -0.000432262L73.6711 0.581055L73.8887 14.1353L96.5481 13.7725L96.9136 36.5354Z" fill="#576780"></path>
        <path d="M72.7847 61.4494L86.339 61.2324L85.7559 24.9153L49.5422 25.4951L49.7615 39.1528L72.4209 38.79L72.7847 61.4494Z" fill="#576780"></path>
        <path d="M48.5526 86.3665L62.2104 86.1478L61.6289 49.9341L25.3118 50.5156L25.5294 64.0699L48.1888 63.7071L48.5526 86.3665Z" fill="#576780"></path>
        <path d="M24.4254 111.385L38.0832 111.167L37.5001 74.8497L1.18292 75.4312L1.40221 89.0889L24.0616 88.7261L24.4254 111.385Z" fill="#576780"></path>
      </g>
    </svg>
    <div class="mx-auto text-gray-800 font-extrabold text-3xl sm:text-5xl w-fit relative">
      <h1 class="relative z-20 dark:text-white">Navigation</h1><svg class="absolute right-0 sm:-right-16 top-9 z-10 opacity-30" width="90" height="39" viewBox="0 0 90 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M67.0128 35.3452C75.976 35.3452 83.2775 28.1547 83.2775 19.3277C83.2775 10.5007 75.976 3.31012 67.0128 3.31012L67.0128 35.3452Z" fill="#576780"></path>
        <path d="M41.6388 35.3452C50.602 35.3452 57.9035 28.1547 57.9035 19.3277C57.9035 10.5007 50.602 3.31012 41.6388 3.31012L41.6388 35.3452Z" fill="#576780"></path>
        <path d="M16.2648 35.3452C25.228 35.3452 32.5295 28.1547 32.5295 19.3277C32.5295 10.5007 25.228 3.31012 16.2648 3.31012L16.2648 35.3452Z" fill="#576780"></path>
      </svg>
    </div>
    <div class="mt-[60px] flex items-center max-w-7xl w-full mx-auto flex-wrap justify-center xl:justify-between">
      <div class="w-[416px] sm:h-72 px-7 py-11 text-center"><span class="text-indigo-500 text-3xl font-semibold">1</span>
        <div class="mt-2">
          <h2 class="text-gray-800 dark:text-white text-xl font-semibold max-w-[300px] mx-auto mb-3 ">
            Підручники</h2>
          <p class="text-gray-500 max-w-xs mx-auto dark:text-gray-400">В цьому розділі Ви знайдете підручники, які стануть Вам у нагоді до підготовки до уроків.</p>
        </div>
      </div>
      <div class="w-[416px] sm:h-72 px-7 py-11 text-center"><span class="text-indigo-500 text-3xl font-semibold">2</span>
        <div class="mt-2">
          <h2 class="text-gray-800 dark:text-white text-xl font-semibold max-w-[300px] mx-auto mb-3 ">
            Домашнє завдання</h2>
          <p class="text-gray-500 max-w-xs mx-auto dark:text-gray-400">Якщо Ви забули записати домашнє завдання після уроку то це не біда. Тут Ви знайдете всю інформацію яку потрібно Вам знати.</p>
        </div>
      </div>
      <div class="w-[416px] sm:h-72 px-7 py-11 text-center"><span class="text-indigo-500 text-3xl font-semibold">3</span>
        <div class="mt-2">
          <h2 class="text-gray-800 dark:text-white text-xl font-semibold max-w-[300px] mx-auto mb-3 ">
            Тестування</h2>
          <p class="text-gray-500 max-w-xs mx-auto dark:text-gray-400">Тестові завдання на різний смак. Щоб закріпити знання по тій чи іншій темі, потрібно обов’язково пройти тест.</p>
        </div>
      </div>
      <div class="w-[416px] sm:h-72 px-7 py-11 text-center"><span class="text-indigo-500 text-3xl font-semibold">4</span>
        <div class="mt-2">
          <h2 class="text-gray-800 dark:text-white text-xl font-semibold max-w-[300px] mx-auto mb-3 ">
            Методична робота</h2>
          <p class="text-gray-500 max-w-xs mx-auto dark:text-gray-400">Методичні розробки уроків теоретичного та виробничого навчання по професіях монтажник санітарно-технічних систем та
              устаткування, електрогазозварник</p>
        </div>
      </div>
      <div class="w-[416px] sm:h-72 px-7 py-11 text-center"><span class="text-indigo-500 text-3xl font-semibold">5</span>
        <div class="mt-2">
          <h2 class="text-gray-800 dark:text-white text-xl font-semibold max-w-[300px] mx-auto mb-3 ">
          Дистанційне навчання</h2>
          <p class="text-gray-500 max-w-xs mx-auto dark:text-gray-400">Тут учні знайдуть конспекти уроків, презентації, які допоможуть закріпити знання з професій монтажник
              санітарно-технічних систем та устаткування, електрогазозварник.</p>
        </div>
      </div>
      <div class="w-[416px] sm:h-72 px-7 py-11 text-center"><span class="text-indigo-500 text-3xl font-semibold">6</span>
        <div class="mt-2">
          <h2 class="text-gray-800 dark:text-white text-xl font-semibold max-w-[300px] mx-auto mb-3 ">
          Виробниче навчання</h2>
          <p class="text-gray-500 max-w-xs mx-auto dark:text-gray-400">Ви знайдете тут плани уроків виробничого навчання, інструкційні карти по професіях монтажник санітарно-технічних
              систем і устаткування, електрогазозварник, презентації до уроків, відео ролики.</p>
        </div>
      </div>
      <div class="w-[416px] sm:h-72 px-7 py-11 text-center"><span class="text-indigo-500 text-3xl font-semibold">7</span>
        <div class="mt-2">
          <h2 class="text-gray-800 dark:text-white text-xl font-semibold max-w-[300px] mx-auto mb-3 ">
          Навчально-практичний центр</h2>
          <p class="text-gray-500 max-w-xs mx-auto dark:text-gray-400">Центр створено для навчання учнів ВХПТУ №5 м. Вінниці та слухачів Центру зайнятості. Навчання базується на основних принципах модульної системи.</p>
        </div>
      </div>
      <div class="w-[416px] sm:h-72 px-7 py-11 text-center"><span class="text-indigo-500 text-3xl font-semibold">8</span>
        <div class="mt-2">
          <h2 class="text-gray-800 dark:text-white text-xl font-semibold max-w-[300px] mx-auto mb-3 ">
          Github</h2>
          <p class="text-gray-500 max-w-xs mx-auto dark:text-gray-400">В цьому розділі ви знайдете портфоліо розробника.Основна мова програмування Python-досвідчений.HTML/CSS/JS -середній. С++/Java-початківець.</p>
        </div>
      </div>
      <div class="w-[416px] sm:h-72 px-7 py-11 text-center"><span class="text-indigo-500 text-3xl font-semibold">9</span>
        <div class="mt-2">
          <h2 class="text-gray-800 dark:text-white text-xl font-semibold max-w-[300px] mx-auto mb-3 ">
          Мої напрацювання за 2017-2021 рік</h2>
          <p class="text-gray-500 max-w-xs mx-auto dark:text-gray-400">Мої напрацювання за 2017-2019 рік. Для додаткових матеріалів, переходьте за посиланням, частина матеріалів що була використана в мої роботі знаходиться саме тут.</p>
        </div>
      </div>
    </div><svg class="absolute right-0 bottom-0 z-10" width="103" height="100" viewBox="0 0 103 100" fill="#576780" xmlns="http://www.w3.org/2000/svg">
      <g opacity="0.2" clip-path="url(#clip0_561_1360)">
        <path d="M97.5669 0C43.6308 0 0 43.6308 0 97.5669C0 151.369 43.6308 195.134 97.5669 195.134C151.369 195.134 195.134 151.503 195.134 97.5669C195 43.6308 151.369 0 97.5669 0ZM97.5669 188.844C47.1105 188.844 6.29032 148.023 6.29032 97.5669C6.29032 47.1105 47.1105 6.29032 97.5669 6.29032C148.023 6.29032 188.844 47.1105 188.844 97.5669C188.844 147.89 147.89 188.844 97.5669 188.844Z" fill="#576780"></path>
        <path d="M97.5677 21.0125C55.4092 21.0125 21.147 55.2746 21.147 97.4332C21.147 139.592 55.4092 173.854 97.5677 173.854C139.726 173.854 173.988 139.726 173.988 97.567C173.988 55.2746 139.726 21.0125 97.5677 21.0125ZM97.5677 162.21C61.8333 162.21 32.7908 133.168 32.7908 97.4332C32.7908 61.6988 61.8333 32.6562 97.5677 32.6562C133.302 32.6562 162.345 61.6988 162.345 97.4332C162.345 133.168 133.302 162.21 97.5677 162.21Z" fill="#576780"></path>
      </g>
      <defs>
        <clipPath id="clip0_561_1360">
          <rect width="195" height="195" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </section>
  <div class="container py-8  p-8 mx-auto xl:px-0 flex flex-wrap mb-20 lg:gap-10 lg:flex-nowrap mt-14">
    <div class="flex items-center justify-center w-full lg:w-1/2 lg:order-1">
      <div>
        <div
          style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
          <div style="box-sizing:border-box;display:block;max-width:100%">
            <img style="max-width:100%;display:block;margin:0;border:none;padding:0" alt="" aria-hidden="true"
              src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTIxIiBoZWlnaHQ9IjQ4MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4=">
          </div>
          <img alt="Some iamge" src="image/undraw_online_test_re_kyfx.svg" decoding="async" data-nimg="true"
            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;;background-size:cover;">
        </div>
      </div>
    </div>
    <div class="flex flex-wrap items-center w-full lg:w-1/2 lg:justify-end">
      <div>
        <div class="flex flex-col w-full">
          <h3
            class="max-w-2xl text-3xl font-bold leading-snug tracking-tight text-gray-800 lg:leading-tight lg:text-4xl dark:text-white">
            Lorem loerm lorem</h3>
          <p class="max-w-2xl py-4 text-lg leading-normal text-gray-500 lg:text-xl xl:text-xl dark:text-gray-300">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, iusto pariatur dolor eum illo, voluptatem
            commodi hic placeat perspiciatis beatae veritatis? Rem quas voluptatum quae veritatis distinctio saepe
            molestiae? Soluta.</p>
        </div>
        <div class="w-full mt-5">
          <div class="flex items-start mt-8 space-x-3">
            <div class="flex items-center justify-center flex-shrink-0 mt-1 bg-indigo-500 rounded-md w-11 h-11 ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="w-7 h-7 text-indigo-50">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4">
                </path>
              </svg>
            </div>
            <div>
              <h4 class="text-xl font-medium text-gray-800 dark:text-gray-200">Lorem Adasdda Fkrhlaj</h4>
              <p class="mt-1 text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing
                elit.</p>
            </div>
          </div>
          <div class="flex items-start mt-8 space-x-3">
            <div class="flex items-center justify-center flex-shrink-0 mt-1 bg-indigo-500 rounded-md w-11 h-11 ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="w-7 h-7 text-indigo-50">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4">
                </path>
              </svg>
            </div>
            <div>
              <h4 class="text-xl font-medium text-gray-800 dark:text-gray-200">Lorem lorem lorem
              </h4>
              <p class="mt-1 text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing
                elit.</p>
            </div>
          </div>
          <div class="flex items-start mt-8 space-x-3">
            <div class="flex items-center justify-center flex-shrink-0 mt-1 bg-indigo-500 rounded-md w-11 h-11 ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="w-7 h-7 text-indigo-50">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4">
                </path>
              </svg>
            </div>
            <div>
              <h4 class="text-xl font-medium text-gray-800 dark:text-gray-200">Dark &amp; Lorem</h4>
              <p class="mt-1 text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Aperiam nostrum est dolore dolores quae adipisci eveniet erro</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  