<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full px-4 lg:px-8">
  <h1 class="text-[28px] font-semibold pt-6 pb-10 hidden md:block">
    Підручники
  </h1>
  <input
    type="text"
    class="border border-[#B9BEC7] rounded-lg w-full h-[44px] outline-none pl-2 placeholder:text-[17px] placeholder:font-normal mt-4"
    placeholder="Пошук підручників"
  />
  <div>
    <div
      class="bg-[#f3f3f3] rounded-lg my-2 p-5 md:flex md:items-center md:justify-between"
    >
      <div class="md:flex md:items-center">
        <h3 class="text-[16px] font-bold text-black md:pr-4">
          Гнуття та правка металу
        </h3>
        <p class="text-[16px] text-[#46464E] mt-2 md:mt-0">
          Підгорний О.П. 1996, 235 ст.
        </p>
      </div>

      <div
        class="mt-4 bg-white h-9 rounded flex items-center justify-center md:w-[52px] md:mt-0"
      >
        <div class="h-4 w-4 bg-[green]"></div>
      </div>
    </div>

    <div
      class="bg-[#f3f3f3] rounded-lg my-2 p-5 md:flex md:items-center md:justify-between"
    >
      <div class="md:flex md:items-center">
        <h3 class="text-[16px] font-bold text-black md:pr-4">
          Метали в природі
        </h3>
        <p class="text-[16px] text-[#46464E] mt-2 md:mt-0">
          Іванченко С.Л., 2015, 655 ст.
        </p>
      </div>

      <div
        class="mt-4 bg-white h-9 rounded flex items-center justify-center md:w-[52px] md:mt-0"
      >
        <div class="h-4 w-4 bg-[green]"></div>
      </div>
    </div>

    <div
      class="bg-[#f3f3f3] rounded-lg my-2 p-5 md:flex md:items-center md:justify-between"
    >
      <div class="md:flex md:items-center">
        <h3 class="text-[16px] font-bold text-black md:pr-4">
          Види зварювання
        </h3>
        <p class="text-[16px] text-[#46464E] mt-2 md:mt-0">
          Пилипенко В.В., 2019, 341 ст.
        </p>
      </div>

      <div
        class="mt-4 bg-white h-9 rounded flex items-center justify-center md:w-[52px] md:mt-0"
      >
        <div class="h-4 w-4 bg-[green]"></div>
      </div>
    </div>
  </div>
</body>
